/*override e estilos para áreas destinadas a aplicação*/

@import url('http://fonts.googleapis.com/css?family=Roboto');
body * {
	font-family: Roboto, sans-serif;
}
/**/
.hidden {
	display: none;
}
/*
 header
 */
header {
	border-bottom: 1px solid #ddd;
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  	background: #fff;
}

/*
 sidebar
 */
#sidebar-menu .ui.list a.item:not(.active) {
	opacity: .5;
}
#sidebar-menu h3.title {
	color: #00b2f3;
}
#sidebar-menu .ui.list a.item:not(.active):hover {
	opacity: 1;
}
#sidebar-menu .ui.list a.active {
	color: #00b2f3;
}
#sidebar-menu .title {
	font-size: 1.071rem;
	color: #00b2f3 !important;
	font-weight: bold;
	display: block;
	margin-bottom: 10px !important;
}
.roll-title .header.left small {
	font-size: .6em;
	color: #aaa;
}

.roll-title .header.left {
	margin-bottom: 5px;
}
.roll-title .header.left span {
	color: #2976cc;
}
.roll-title .header.left a span {
	color: #256cbb;
}
.roll-title .header.right small {
	font-size: .6em;
	color: #aaa;
}
.roll-thumbnail {
	margin-bottom: 6px;
}
.roll-excerpt {
	overflow: hidden;
	clear: both;
	color: #aaa;
}
#footer {
	border-top: 1px solid #ddd;
	margin-top: 40px;
	padding: 36px 0;
	text-align: center;
}